/******************************************************************************/
/*                                      App                                   */ 
/******************************************************************************/  

.yugiitemempty{
    height: 100px;

}

.yugiitem .desc{
    padding-left: 50px;
}

.yugiitem{
    /* height: 70px;*/
    cursor: pointer;
}

.yugiitem div{
    /*    height: 50px;*/
}
.yugiitem img{
    height: 50px;

}
.popover-content {
 
overflow-y: auto;
}

.detailview h2{

    margin-top: -20px;
}